<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<title th:text="#{_ta_header_dashboard}"></title>
</head>
<body>

	<!--main-container-part-->
	<div id="content" layout:fragment="content">

		<div id="content-header">
			<h1 class="ta-font-kh-header" th:text="#{_ta_header_dashboard}"></h1>
		</div>


		<!--Action boxes-->
		<div class="container-fluid">
			<hr />
			<div class="quick-actions_homepage">
				<ul class="quick-actions">
					<li class="bg_lb span3"><a href="#"> <i
							class="icon-user mtx-icon-size"></i> <span class="label label-info ta-font-kh" th:text="${MALE_TOTAL} + ' ' + #{_ta_user}">20</span>
							<b class="ta-font-kh" th:text="#{_ta_total_user_m}">Total Male</b>
					</a></li>

					<li class="bg_lg span3"><a href="#"> <i
							class="icon-user mtx-icon-size"></i> <span class="label label-success ta-font-kh" th:text="${FEMALE_TOTAL} + ' ' + #{_ta_user}">20</span>
							<b class="ta-font-kh" th:text="#{_ta_total_user_f}">Total Female</b>
					</a></li>

					<li class="bg_lo span3"><a href="#"> <i
							class="icon-group mtx-icon-size"></i> <span class="label label-important ta-font-kh" th:text="${TOTAL} + ' ' + #{_ta_user}">20</span>
							<b class="ta-font-kh" th:text="#{_ta_total_user}">Total</b>
					</a></li>
				</ul>
			</div>
			<!--End-Action boxes-->
		</div>
	</div>

	<!--end-main-container-part-->

</body>
</html>