<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<title th:text="#{_ta_role_list}"></title>
</head>
<body>
	<!--main-container-part-->
	<div id="content" layout:fragment="content">

		<div id="content-header">
			<h1 class="ta-font-kh-header" th:text="#{_ta_role_list}"></h1>
		</div>

		<div class="container-fluid">
			<hr />
			<div class="row-fluid">
				<div class="span12">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon"> <i class="icon-th"></i>
							</span>
							<h5 class="ta-font-kh" th:text="#{_ta_role_list_info}">Static
								table</h5>
						</div>
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped">
								<thead>
									<tr class="ta-font-kh ta-th">
										<th th:text="#{_ta_no}">No.</th>
										<th th:text="#{_ta_role_reg_name}">Role Name</th>
										<th th:text="#{_ta_action}">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>1</th>
										<th>Administrator</th>
										<th>
											<button type="button" class="btn btn-mini btn-danger">
												Delete
											</button>
											<button type="button" class="btn btn-mini btn-warning">
												Update
											</button>
										</th>
									</tr>
									<tr>
										<th>2</th>
										<th>Manager</th>
										<th>
											<button type="button" class="btn btn-mini btn-danger">
												Delete
											</button>
											<button type="button" class="btn btn-mini btn-warning">
												Update
											</button>
										</th>
									</tr>
									<tr>
										<th>3</th>
										<th>Seller</th>
										<th>
											<button type="button" class="btn btn-mini btn-danger">
												Delete
											</button>
											<button type="button" class="btn btn-mini btn-warning">
												Update
											</button>
										</th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--end-main-container-part-->

</body>
</html>