<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<title th:text="#{_ta_role_reg}"></title>
</head>
<body>
	<!--main-container-part-->
	<div id="content" layout:fragment="content">

		<div id="content-header">
			<h1 class="ta-font-kh-header" th:text="#{_ta_role_reg}"></h1>
		</div>

		<!--Action boxes-->
		<div class="container-fluid">

			<hr />

			<div class="row-fluid">
				<div class="span12">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon"> <i class="icon-align-justify"></i>
							</span>
							<h5 class="ta-font-kh" th:text="#{_ta_role_reg_info}">Personal-info</h5>
						</div>
						<div class="widget-content nopadding">
							<form action="#" method="get" class="form-horizontal">
								<div class="control-group">
									<label class="control-label ta-font-kh"
										th:text="#{_ta_role_reg_id}">Role ID :</label>
									<div class="controls">
										<input type="text" class="span11" />
									</div>
								</div>

								<div class="control-group">
									<label class="control-label ta-font-kh"
									th:text="#{_ta_role_reg_name}">Role Name :</label>
									<div class="controls">
										<input type="text" class="span11" />
									</div>
								</div>

								<div class="form-actions">
									<button type="submit" class="btn btn-success ta-font-kh" th:text="#{_ta_button_save}">Save</button>
								</div>
							</form>
						</div>
					</div>


				</div>
			</div>
			<!--End-Action boxes-->
		</div>
	</div>

	<!--end-main-container-part-->

</body>
</html>