<!--Header-part-->
<div id="header">
	<h1>
		<a href="dashboard.html">Matrix Admin</a>
	</h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
	<ul class="nav">
		<li class=""><a class="ta-font-kh" th:href="@{${LINK}(lang=kh)}"><i class="icon icon-signal"></i>
				<span class="text" th:text="#{_ta_khmer}">Khmer</span></a></li>
		<li class=""><a class="ta-font-kh" th:href="@{${LINK}(lang=en)}"><i
				class="icon icon-signal"></i> <span class="text" th:text="#{_ta_english}">English</span></a></li>
	</ul>
</div>
<!--close-top-Header-menu-->